<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
	<title>Hi!!!</title>
</head>
<body>
    <img src="http://www.how-to-draw-cartoons-online.com/image-files/cartoon_pizza.gif" />
	<div id="texto">{{texto}}</div>
    
</body>
</html>